<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>Dashboard page</title>
</head>
<body>

    <div id="logout">
    <a href="/logout" class="logout">Logout</a>
    </div>
 
    <div class="title">
        <h1>Welcome, <%= username %></h1>
    </div>
<div class="section">
    <div class="container">
    <h2>What's On Your Mind?</h2>
            <div class="img-upload">
            <i class="bx bxs-cloud-upload icon"></i>
            <h3>Upload Image</h3>
            <p>Accepted file types are .jpg, .png, .gif, not exceeding 2MB in file size</p>
            <form action="/upload" method="POST"
                enctype="multipart/form-data">
                <input type="file" name="picture">
                <input type="submit"> 
            </form>
            </div>
            <ul> 
                <% if(messages.error) { %>
                <li>  <%= messages.error %> </li>
                    <% } %>
          </ul>
        </div>
    </div>

         <% values.forEach( x => { %>
            <section>
                <div class="box">
                    <div class="name">
                        <h4><%= x.name %></h4>
                    </div>

                    <div class="timestamp"><h4><%= x.timeStamp.toDateString() %></h4>
                    </div>
                    <div class="img">
                        <img width="700" height="700" src="data:<%= x.data %>;base64,<%= x.img %>" />
                    </div>
                    <div class="like">
                        <!-- <form action="/like" method="POST"> -->
                            <span> <button onclick="like()"><i class='bx bxs-heart bx-border'></i></button> 
                        <span id="increment"><%= x.likes %></span>
                    <!-- </form> -->
                    </div>
                    <div class="section2">
                            <h5><%= user %></h5> 
                        <form action="/comment" method="POST">
                            <input type="text" id="comment" name="comment" placeholder="Leave a comment here">
                            <input type="submit" value="Comment"/>
                            <input type="hidden" id="photoid" name="photoid" value="<%= x.photoid %>" />  
                        </form>
                    </div>
                     <div class="imgComment">
                            <% x.comment.forEach( y => { %>
                            <p><span id="name"><u><b><%= y.fullname %></b></u></span> <span id="comment"><%= y.commentStr %></span> <span id="time"><%= y.createdTime.toDateString() %></span></p>
                            <% }) %>
                        </div>
                    </div> 
                </div>
                </div>
            </section>
        <% }) %>

        <script>
            var isLiked=false;
            var a=0;
                function like() {
                isLiked=!isLiked;
                if(isLiked) {
                    a = document.getElementById("increment").innerHTML = parseInt(a)+1;
                }
                else {
                a = document.getElementById("increment").innerHTML = parseInt(a)-1;
                 }
            }
        </script>      
</body>
</html>
